Package: weasyprint-server
Architecture: amd64
Essential: no
Section: web
Priority: optional
Depends: pango1.0-tools
Maintainer: tech@demarches-simplifiees.fr
Description: a flask wrapper around weasyprint
  This package contains a flask wrapper around weasyprint
Homepage: https://github.com/demarches-simplifiees/weasyprint_server
